<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>

<!-- ///////////////////////////////////// FOOTER ///////////////////////////////-->
<div id="conteneur_footer">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 banner_footer">  
            <h4>footer</h4>
        
        </div><!--#footer -->

    <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 footer"> 
                    <ul id="contact">
                        <li class="tel">06 50 07 59 52</li>
                        <li class="mail">contact@coloredcloud.fr</li>
                    </ul>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 footer">
                         <ul id="reseaux_footer">
                            <li><a href="https://www.facebook.com/Coloredcloud-Atelier-graphique-328157747247/?fref=ts" target="_blank" id="facebook_footer"></a></li>
                            <li><a href="http://www.viadeo.com/fr/profile/stratis.bakas" target="_blank" id="viadeo_footer"></a></li>
                            <li><a href="http://www.linkedin.com/pub/stratis-bakas/32/771/439" target="_blank" id="linkedin_footer"></a></li>
                            <li><a href="http://www.behance.net/stratisbakas" target="_blank" id="behance_footer"></a></li>
                        </ul>
            </div>

             <div class="col-md-4 col-sm-4 col-xs-4 footer">
                        <ul id="menu_footer">
                            
                            <li><%=link_to 'Home', root_path%></li>
                            <li><%=link_to 'projets', projets_path%></li>
                            <li><%=link_to 'contact', contacts_path%></li>
                            <li><a href="http://www.coloredcloud.fr" target="_blank">Blog</a></li>
                        </ul>
            </div>



                </div><!-- .bloc_footer -->
    </div><!--#footer -->


</div><!--#container_footer -->


</div><!-- #container -->

<!-- script -->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/supersized.core.3.2.1.js"></script>
        <script type="text/javascript" src="js/supersized.core.3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/tri.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/npm.js"></script>
<!--#script -->
</body>
</html>