<!doctype html>
<html class="" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">

        <title>Damart</title>
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Coloredcloud Graphic designer, webdesigner et développeur web à Lille. Création de sites internet. Design d'interfaces graphiques et ergonomiques. Voici mon portfolio où vous retrouverez tous mes projets, des news, ainsi qu'un formulaire pour me contacter." />
		<meta name="keywords" content="web design, responsive, web development, développeur web" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- favicon -->
<link rel="shortcut icon" href=""/>
<link rel="apple-touch-icon-precomposed" href=""/>


</head>

<body>
<!-- ///////////////////////////// container header ////////////////// -->
<div class="container">



    <!-- ///////////////////////////// container wrapper ////////////////// -->
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 wrapdamart">

    </div><!-- wrapper -->
</div><!-- row -->

<!-- ///////////////////////////// FILTRE PROJET ///////////////////////////////// -->

<div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 projet">
        <h1 id="title">DAMART FRANCE
            <h2 id="chapeau"><span class="bold">Création de la communication web de Damart</span>.Création des concepts créatifs des opérations commerciales.</h2>
            <img src="img/damart1.jpg" alt=""/>
            <img src="img/damart2.jpg" alt=""/>

    </div>
    
    <div class="col-md-4 col-sm-12 col-xs-12 visuel">
        <img src="img/damart_gr.png" alt=""/>
    </div>
</div><!--#projet-->


<!-- ///////////////////////////// ROW 1 ///////////////////////////////// -->


<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 wrapper portfolio">
    <nav class="tri">
        <ul>
        <li id="all" class="active">all</li>
        <li id="print">print</li>
        <li id="web">web</li>
        </ul>
        <div class="clear"></div>
    </nav>
 
 
<!-- STRUCTURE D'UN ELEMENT -->
    <a href="/item/01" class="item print">
        <h3 class="item-title">Titre de mon élément</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">View more</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/oxygem.png')"></div>
    </a>

     <a href="/item/01" class="item web">
        <h3 class="item-title">Titre de mon élément</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">View more</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/nobleart.png')"></div>
    </a>
 <a href="/item/01" class="item web">
        <h3 class="item-title">Titre de mon élément</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">View more</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/samtosha.png')"></div>
    </a>

     <a href="/item/01" class="item print">
        <h3 class="item-title">Titre de mon élément</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">View more</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/samtosha.png')"></div>
    </a>
</div> <!-- #Fermeture de la div wrapper -->
</div> <!-- #row1-->

</div><!--#row-->


<!-- ///////////////////////////////////// FOOTER ///////////////////////////////-->
<div id="conteneur_footer">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 banner_footer">  
            <h4>footer</h4>
        
        </div><!--#footer -->

    <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 footer"> 
                    <ul id="contact">
                        <li class="tel">06 50 07 59 52</li>
                        <li class="mail">contact@coloredcloud.fr</li>
                    </ul>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 footer">
                         <ul id="reseaux_footer">
                            <li><a href="https://www.facebook.com/Coloredcloud-Atelier-graphique-328157747247/?fref=ts" target="_blank" id="facebook_footer"></a></li>
                            <li><a href="http://www.viadeo.com/fr/profile/stratis.bakas" target="_blank" id="viadeo_footer"></a></li>
                            <li><a href="http://www.linkedin.com/pub/stratis-bakas/32/771/439" target="_blank" id="linkedin_footer"></a></li>
                            <li><a href="http://www.behance.net/stratisbakas" target="_blank" id="behance_footer"></a></li>
                        </ul>
            </div>

             <div class="col-md-4 col-sm-4 col-xs-4 footer">
                        <ul id="menu_footer">
                            
                            <li><%=link_to 'Home', root_path%></li>
                            <li><%=link_to 'projets', projets_path%></li>
                            <li><%=link_to 'contact', contacts_path%></li>
                            <li><a href="http://www.coloredcloud.fr" target="_blank">Blog</a></li>
                        </ul>
            </div>



                </div><!-- .bloc_footer -->
    </div><!--#footer -->


</div><!--#container_footer -->


</div><!-- #container -->


</body>
</html>

