<!doctype html>
<html class="" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">

        <title>Projets</title>
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Coloredcloud Graphic designer, webdesigner et développeur web à Lille. Création de sites internet. Design d'interfaces graphiques et ergonomiques. Voici mon portfolio où vous retrouverez tous mes projets, des news, ainsi qu'un formulaire pour me contacter." />
		<meta name="keywords" content="web design, responsive, web development, développeur web" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- favicon -->
<link rel="shortcut icon" href=""/>
<link rel="apple-touch-icon-precomposed" href=""/>


<!-- script -->
        <link type="text/css" href="../assets/stylesheets/style.css" rel="stylesheet" media="screen" />
        <link type="text/css" href="../assets/stylesheets/bootstrap.css" rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="../assets/stylesheets/supersized.core.css" type="text/css" media="screen" />

</head>

<body>
<!-- ///////////////////////////// container header ////////////////// -->
<div class="container">


    <!-- ///////////////////////////// container wrapper ////////////////// -->
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 wrap">
        <div class="txtintro"> <h1 class="intro"><span class="flashy">Coloredcloud Atelier</span><br><span class="blanc">Web Designer</span> <br>et <span class="gris">Developpeur junior</span></h1></div>
    </div><!-- wrapper -->
</div><!-- row -->

<!-- ///////////////////////////// FILTRE PROJET ///////////////////////////////// -->

<!-- ///////////////////////////// ROW 1 ///////////////////////////////// -->


<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12 wrapper portfolio">
    <nav class="tri">
        <ul>
        <li id="all" class="active">all</li>
        <li id="print">print</li>
        <li id="web">web</li>
        </ul>
        <div class="clear"></div>
    </nav>

<!-- ////////////////////////////////  ROW 1 ////////////////////////////////////// --> 
<!-- STRUCTURE D'UN ELEMENT -->
    <a href="oxyghem.html" class="item print">
        <h3 class="item-title">Oxyghem</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/oxygem.png')"></div>
    </a>

     <a href="nobleart.html" class="item print">
        <h3 class="item-title">Noble Art's</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/nobleart.png')"></div>
    </a>
 <a href="damart.html" class="item web">
        <h3 class="item-title">Damart</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/newsletter.png')"></div>
    </a>

     <a href="identity.html" class="item print">
        <h3 class="item-title">Graphic identity</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/identity.jpg')"></div>
    </a>



<!-- ////////////////////////////////  ROW 2 ////////////////////////////////////// --> 
<!-- STRUCTURE D'UN ELEMENT -->
    <a href="simplon.html" class="item web">
        <h3 class="item-title">Simplon Roubaix</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/simplonrbx.jpg')"></div>
    </a>

     <a href="actionboxe.html" class="item web">
        <h3 class="item-title">Plaisir des sens</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/actionboxe.jpg')"></div>
    </a>
    <a href="sens.html" class="item print">
        <h3 class="item-title">Plaisir des Sens</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/plaisirdessens.jpg')"></div>
    </a>

     <a href="taillefinefiz.html" class="item print">
        <h3 class="item-title">Taillefine Fiz</h3>
    <hr class="hr-title-top">
        <p class="item-description"></p>
        <hr class="hr-title-bot">
        <button class="view-more">Plus d'infos</button>
    <div class="black-overlay"></div>
    <div class="background" style="background:url('img/taillefine.jpg')"></div>
    </a>

</div>
</div> <!-- #row1-->

<!-- ///////////////////////////////////// FOOTER ///////////////////////////////-->
<div id="conteneur_footer">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 banner_footer">  
            <h4>footer</h4>
        
        </div><!--#footer -->

    <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 footer"> 
                    <ul id="contact">
                        <li class="tel">06 50 07 59 52</li>
                        <li class="mail">contact@coloredcloud.fr</li>
                    </ul>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 footer">
                         <ul id="reseaux_footer">
                            <li><a href="https://www.facebook.com/Coloredcloud-Atelier-graphique-328157747247/?fref=ts" target="_blank" id="facebook_footer"></a></li>
                            <li><a href="http://www.viadeo.com/fr/profile/stratis.bakas" target="_blank" id="viadeo_footer"></a></li>
                            <li><a href="http://www.linkedin.com/pub/stratis-bakas/32/771/439" target="_blank" id="linkedin_footer"></a></li>
                            <li><a href="http://www.behance.net/stratisbakas" target="_blank" id="behance_footer"></a></li>
                        </ul>
            </div>

             <div class="col-md-4 col-sm-4 col-xs-4 footer">
                        <ul id="menu_footer">
                            
                            <li><%=link_to 'Home', root_path%></li>
                            <li><%=link_to 'projets', projets_path%></li>
                            <li><%=link_to 'contact', contacts_path%></li>
                            <li><a href="http://www.coloredcloud.fr" target="_blank">Blog</a></li>
                        </ul>
            </div>



                </div><!-- .bloc_footer -->
    </div><!--#footer -->


</div><!--#container_footer -->


</div><!-- #container -->

<!-- script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script> 
        <script type="text/javascript" src="../assets/javascripts/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../assets/javascripts/supersized.core.3.2.1.js"></script>
        <script type="text/javascript" src="../assets/javascripts/supersized.core.3.2.1.min.js"></script>
        <script type="text/javascript" src="../assets/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="../assets/javascripts/tri.js"></script>
        <script type="text/javascript" src="../assets/javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="../assets/javascripts/npm.js"></script>
<!--#script -->
</body>
</html>
